<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img src="/assets/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="/submit"><i class="fas fa-file-alt"></i> Submit</a>
        </li>
        <li>
            <a href="/teams"><i class="fas fa-table"></i> Teams</a>
        </li>
    </ul>
</nav>